doctype
html
    head
        meta(charset='UTF-8')
        title milkmidi vux tutorial
        link(rel="shortcut icon" type="image/ico" href="favicon.ico")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no")
        meta(name="description" content="")
        meta(property="og:title" content="")
        meta(property="og:description" content="")
        meta(property="og:image" content="img/1200x630.png")
    body
        #app
        script(src='//cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/vuex/2.0.0/vuex.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/vue-router/2.1.0/vue-router.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js')
        //- IE11 
        //- script(src='//cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.auto.min.js')
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
        //- link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
        //- link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
        //- script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")

