{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "jsx-v-model",
    "jsx-vue-functional",
    "transform-vue-jsx",
    "transform-pug-html",
    "transform-decorators-legacy"
  ]
}
