{
  "presets": [
    "env",
    "stage-0"
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false
    }],
    ["module-resolver", {
      "alias": {
        "~": "./",
        "@": "./src/js",
        "component": "./src/js/component",
        "img": "./src/img"
      }
    }]
  ]
}
