html
	font-size 100%
	// 10 ÷ 16 × 100% = 62.5%
	
.flex
	display flex
	z-index 9999

.box
	width 100px
.box
	width calc(100% - 20px)
	height 100px
	line-height @height
.box 
	text-align center
	font-size 4rem
	background-color red

.fade-enter-active
.fade-leave-active
	transition all .5s


.fade-enter
.fade-leave-active
	opacity 0