html
	font-size 100%
	
.flex
	display flex
	z-index 9999
// 一樣的 class , postcss cssnano 會自動合拼成一個
.box
	width 100px
.box
	width calc(100% - 20px)
	height 100px
	line-height @height
.box 
	text-align center
	font-size 4rem
	background-color red

.fade-enter-active
.fade-leave-active
	transition all .5s


.fade-enter
.fade-leave-active
	opacity 0