.navigation-root{
    background-color:#f3f3f3;

    .logo{
        display: inline-block;
        width: 100px;
        height: 100px;
        background-size:100% auto;
        background-image:url('~logo.png');
    }
    a{
        font-size: 40px;
        padding:20px;
    }
}